@import '~antd/dist/antd.css';
Padre{
    height:100px;
    width:800px;
    text-align:center;
    background-color: #d6d6e3;

}
Hijo{

    height:50px;
    width:400px;
    margin:0px auto;
    background-color: #f3eeee;
}