.form h1{
    position: relative;
    top: 10px;
    right: 400px;
}

.form h2{
    position: relative;
    top: 10px;
    right: 300px;
}
.form label{

    font-size: 15px ;
    padding: 3px ;
    padding-left: 10px ;
    padding-right: 10px ;
    border-radius: 20px;
    position: relative ;
    top: 10px ;
    right: 150px ;

}
.form Select, Input{
    width: 500px !important;
    height: 30px !important;
    padding: 3px !important;
    padding-left: 5px !important;
    padding-right: 10px !important;
    border-radius: 20px  !important;
    font-weight: 200 !important;
    font-size: 10px  !important;
    background-color: rgba(240, 239, 241, 0.91) !important;
    position: relative !important;
    top: 10px !important;
    right: 300px !important;
    border-color: rgba(116, 184, 250, 0.58) !important;
}
.form TextArea{
    width: 500px !important;
    height: 100px!important;
    font-size: 25px!important;
    padding: 3px!important;
    padding-left: 5px!important;
    padding-right: 10px!important;
    border-radius: 20px!important;
    font-weight: 200!important;
    font-size: 10px!important;
    background-color: rgba(240, 239, 241, 0.91) !important;
    border-color: rgba(116, 184, 250, 0.58)!important;
    position: relative!important;
    top: 10px!important;
    right: 300px!important;
}
.form select:hover {
    opacity: 0.6;
    text-decoration: none;
}

.btn {
    border-radius: 15px  !important;
    background-color: #724caf !important;
    border: 20px !important;
    color: #ffffff !important;
    display: inline-block !important;
    cursor: pointer !important;
    margin: 0 20px 20px 0 !important;
}
