@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.menu{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.menu li{
  display: inline-block;
  margin: 20px;
}
.menu a {
  text-decoration: none;
  color:black;
}

.menu a:hover,
.menu a:active{
  color: dodgerblue;

}
